body{
margin:0;
font-family:Arial;
background:#f4f6f9;
text-align:center;
min-height:100vh;
display:flex;
flex-direction:column;
}

/* HEADER */
header{
background:#1c7c54;
color:white;
padding:40px;
}

header h1{
margin:0;
font-size:36px;
}

header p{
margin-top:10px;
}

/* PORTAL */
.portal{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
padding:50px 20px;
flex:1;
}

/* CARD */
.card{
background:white;
width:260px;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card a{
margin-top:10px;
display:inline-block;
}

.card img{
width:120px;
margin:20px auto;
display:block;
}

.card-img{
width:160px;
margin:20px auto;
display:block;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.card:hover img{
transform:scale(1.05);
transition:0.3s;
}

.card h2{
margin-bottom:20px;
}

.card a{
display:inline-block;
padding:10px 20px;
background:#27ae60;
color:white;
text-decoration:none;
border-radius:5px;
}

.card a:hover{
background:#1e874b;
}

.kontak{
padding:40px 20px;
background:white;
text-align:center;
}

.kontak h2{
margin-bottom:20px;
}

.wa-float{
position:fixed;
bottom:20px;
right:20px;
width:60px;
height:60px;
background:#25D366;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
box-shadow:0 4px 10px rgba(0,0,0,0.3);
z-index:1000;
}

.wa-float img{
width:35px;
height:35px;
}

.wa-float:hover{
background:#1ebe5d;
}

.hero{
background:
linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
url("gambar/sekolah.png");

background-size:cover;
background-position:center;
color:white;
padding:140px 20px;
text-align:center;
}

.hero h1{
font-size:40px;
margin:10px 0;
}

.hero p{
max-width:600px;
margin:auto;
margin-bottom:20px;
}

.hero-btn{
display:inline-block;
padding:12px 25px;
background:#f4b400;
color:black;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

.hero-btn{
padding:14px 28px;
font-size:16px;
}

.hero-btn:hover{
background:#ffd54f;
transform:scale(1.05);
transition:0.3s;
}

html{
scroll-behavior:smooth;
}

/* FOOTER */
footer{
background:#145a32;
color:white;
padding:15px;
margin-top:auto;
}
